* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
}
.container {
  height: 100vh;
  width: 320px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
h1 , h3 {
  color: rgb(255, 255, 0);
  text-decoration: underline 2px;
  margin-bottom: 1rem;
}
input {
  font-size: 1.1rem;
  background-color: transparent;
  padding: 1rem;
  width: 18rem;
  border: 2px solid rgb(255, 255, 0);
  height: 2rem;
  outline: none;
  color: white;
}

.elements-3 {
  text-align: center;
  margin-top: 1rem;
  width:99%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.output-box1,
.output-box2,
.output-box3
 {
  text-align: center;
  color: white;
  height: 30px;
  margin-top: 0.5rem;
  border: 1px solid rgb(255, 255, 0);
  padding: 8px 2px 1px 2px;
}
small {
  font-size: 1rem;
  color: rgb(255, 255, 0);
}
.output-box1,
.output-box3
 {
  width: 136px;
 }

.output-box2{
  width: 32px;
 }  
 .box{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.box2{
  display: flex;
  justify-content: space-between;
  align-items: center;
 }
